@using HR_Project.Common.Extensions;
@using HR_Project.Domain.Enum;
@model HR_Project.Common.Models.DTOs.UpdateAdvanceDTO

@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h1 class="p-4">Avansı Güncelle</h1>

<hr />
<div class="row p-4">
	<div class="col-md-4">
		<form asp-action="Update">
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="Codition" value="@ConditionType.Pending" />
			<input type="hidden" asp-for="PersonnelId" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Reason" class="control-label">Açıklama</label>
				<input asp-for="Reason" class="form-control" />
				<span asp-validation-for="Reason" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Amount" class="control-label">Miktar</label>
				<input asp-for="Amount" class="form-control" />
				<span asp-validation-for="Amount" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Currency" class="control-label">Para Birimi</label>
				<select class="form-control" asp-for="Currency" asp-items="EnumHelper.GetEnumSelectList<Currency>()">
					<option value="-1">Para Birimi</option>
				</select>
				<span asp-validation-for="Currency" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastPaidDate" class="control-label">Talep Edilen Tarih</label>
				<input asp-for="LastPaidDate" class="form-control" type="date" />
				<span asp-validation-for="LastPaidDate" class="text-danger"></span>
			</div>

			<div class="form-group">
				<input type="submit" value="Güncelle" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a class="h5 p-4" asp-action="Index">Listeye Geri Dön</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
	$(document).ready(function () {
		console.log("ready!");
		// Input elemanının değeri değiştiğinde çalışacak
		$('#Amount').on('input', function () {
			// Input değerini al
			var value = $(this).val();
			// Nokta varsa virgülle değiştir
			value = value.replace('.', ',');
			// Değiştirilmiş değeri input'a geri yaz
			$(this).val(value);
		});
	});
</script>