@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="card shadow mb-4">
	<!-- Card Header - Accordion -->
	<a href="#collapseAbcense" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseAbcense">
		<h6 class="m-0 font-weight-bold text-primary">Onay Bekleyen İzinler</h6>
	</a>
	<!-- Card Content - Collapse -->
	<div class="collapse show" id="collapseAbcense" style="">
		<div class="card-body">
			@await Component.InvokeAsync("AbsenceCardComponent")

		</div>
	</div>
</div>

<div class="card shadow mb-4">
	<!-- Card Header - Accordion -->
	<a href="#collapseAdvance" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseAdvance">
		<h6 class="m-0 font-weight-bold text-primary">Onay Bekleyen Avanslar</h6>
	</a>
	<!-- Card Content - Collapse -->
	<div class="collapse show" id="collapseAdvance" style="">
		<div class="card-body">
			@await Component.InvokeAsync("AdvanceCardComponent")

		</div>
	</div>
</div>

