@{
    Layout = null;

}

<div class="p-3">

    <h1>Kaydınız alınmıştır. Hesabınız aktifleştirildikten sonra giriş yapabilirsiniz.</h1>
    <a class="h5 p-4" asp-action="Login">Giriş Yap</a>


</div>

