@using HR_Project.Domain.Enum;
@using HR_Project.Common.Extensions;
@using System.ComponentModel.DataAnnotations

@model HR_Project.Common.Models.DTOs.MasterExpenseDTO

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}




<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Masraflar</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="card-body">
				<span asp-validation-for="Expenses" class="text-danger"></span>
				<div class="table-responsive">

					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
						<thead>
							<tr>

								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ExpenseType: activate to sort column ascending" style="width: 140px;">
									Masraf Türü
								</th>
								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Reason: activate to sort column ascending" style="width: 140px;">
									Açıklama
								</th>
								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ExpenseDate: activate to sort column ascending" style="width: 140px;">
									Masraf Tarihi
								</th>
								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="ExpenseAmount: activate to sort column ascending" style="width: 140px;">
									Masraf Miktarı
								</th>
								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Currency: activate to sort column ascending" style="width: 140px;">
									Para Birimi
								</th>
								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="UploadImage: activate to sort column ascending" style="width: 140px;">
									Resim
								</th>
								<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Currency: activate to sort column ascending" style="width: 140px;">
								</th>
							</tr>
						</thead>
						<tbody>
							@if (Model != null)
							{
								for (var i = 0; i < Model.Expenses.Count; i++)
								{
									<tr>
										<td>
											<div class="form-group">
												<select class="form-control" asp-for="Expenses[i].ExpenseType" asp-items="EnumHelper.GetEnumSelectList<ExpenseType>()">
													<option value="-1">Masraf Türü</option>
												</select>
												<span asp-validation-for="Expenses[i].ExpenseType" class="text-danger"></span>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input asp-for="Expenses[i].Reason" class="form-control" />
												<span asp-validation-for="Expenses[i].Reason" class="text-danger"></span>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input asp-for="Expenses[i].ExpenseDate" class="form-control" id="expenseDate" type="date" />
												<span asp-validation-for="Expenses[i].ExpenseDate" class="text-danger"></span>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input asp-for="Expenses[i].ExpenseAmount" class="form-control" />
												<span asp-validation-for="Expenses[i].ExpenseAmount" class="text-danger"></span>
											</div>
										</td>
										<td>
											<div class="form-group">
												<select class="form-control" asp-for="Expenses[i].Currency" asp-items="EnumHelper.GetEnumSelectList<Currency>()">
													<option value="-1">Para Birimi</option>
												</select>
												<span asp-validation-for="Expenses[i].Currency" class="text-danger"></span>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input asp-for="Expenses[i].UploadImage" class="form-control" />
												<span asp-validation-for="Expenses[i].UploadImage" class="text-danger"></span>
											</div>
										</td>
										<td>
											<div class="form-group">
												<input type="button" value="Masrafı Sİl" class="btn btn-primary rowdel" />

											</div>
										</td>

									</tr>
								}
							}

						</tbody>

						<div class="form-group">
							<input type="button" value="Masraf Ekle" class="btn btn-primary" id="addRow" />
						</div>
					</table>
				</div>
				<div class="form-group">
					<input type="submit" value="Oluştur" class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>



	@section Scripts
		{
		<script>
			var enumValues = @Html.Raw(Json.Serialize(ViewBag.EnumValues));
			$(document).ready(function () {

				$(document).on("click", "#addRow", function () {
					var rowCount = $("#dataTable tbody tr").length;
					var newRow = $("<tr>");

					newRow.append('<td><div class="form-group">' +
						'<select class="form-control" name="Expenses[' + rowCount + '].ExpenseType">' +
						'<option value="-1">Masraf Türü</option>' +
						(getEnumOptions(enumValues.expenseTypes)) +
						'</select>' +
						'<span class="text-danger" data-valmsg-for="Expenses[' + rowCount + '].ExpenseType" data-valmsg-replace="true"></span></div></td>');


					newRow.append('<td><div class="form-group">' +
						'<input class="form-control" name="Expenses[' + rowCount + '].Reason" />' +
						'<span class="text-danger" data-valmsg-for="Expenses[' + rowCount + '].Reason" data-valmsg-replace="true"></span></div></td>');

					newRow.append('<td><div class="form-group">' +
						'<input class="form-control" name="Expenses[' + rowCount + '].ExpenseDate" id="expenseDate" type="date" />' +
						'<span class="text-danger" data-valmsg-for="Expenses[' + rowCount + '].ExpenseDate" data-valmsg-replace="true"></span></div></td>');

					newRow.append('<td><div class="form-group">' +
						'<input class="form-control" name="Expenses[' + rowCount + '].ExpenseAmount" />' +
						'<span class="text-danger" data-valmsg-for="Expenses[' + rowCount + '].ExpenseAmount" data-valmsg-replace="true"></span></div></td>');

					newRow.append('<td><div class="form-group">' +
						'<select class="form-control" name="Expenses[' + rowCount + '].Currency" asp-items="EnumHelper.GetEnumSelectList<Currency>()">' +
						'<option value="-1">Para Birimi</option>' +
						(getEnumOptions(enumValues.currencies)) +
						'</select>' +
						'<span class="text-danger" data-valmsg-for="Expenses[' + rowCount + '].Currency" data-valmsg-replace="true"></span></div></td>');

					newRow.append('<td><div class="form-group">' +
						'<input class="form-control" type="file" name="Expenses[' + rowCount + '].UploadImage" />' +
						'<span class="text-danger" data-valmsg-for="Expenses[' + rowCount + '].UploadImage" data-valmsg-replace="true"></span></div></td>');

					newRow.append('<td><div class="form-group">' +
						'<input type="button" value="Masrafı Sİl" class="btn btn-primary rowdel" />' +
						'</div></td>');

					$("#dataTable tbody").append(newRow);
				});

				$(document).on("click", ".rowdel", function () {
					$(this).closest("tr").remove();
				});

				function getEnumOptions(enumValues) {
					var options = "";
					if (enumValues) {
						for (var i = 0; i < enumValues.length; i++) {
							var value = enumValues[i].value;
							var text = enumValues[i].text;
							console.log(text);
							console.log(value);
							options += '<option value="' + value + '">' + text + '</option>';
							console.log(options);
						}
					}
					return options;
				}

			});

		</script>
	}
