@using HR_Project.Domain.Enum;
@using HR_Project.Common.Extensions;
@using System
@using System.ComponentModel.DataAnnotations
@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@model HR_Project.Common.Models.DTOs.AbsenceDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<div class="p-4">
    <h1 class="h3 mb-2 text-gray-800">İzin Oluştur</h1>
    </div>

<hr />
<div class="row p-4">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label">Açıklama</label>
                <input asp-for="Reason" class="form-control" />
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LeaveTypes" class="control-label">İzin Türü</label>
                <select class="form-control" asp-for="LeaveTypes" asp-items="EnumHelper.GetEnumSelectList<LeaveTypes>()">
                    <option value="-1">İzin Türü</option>
                </select>
                <span asp-validation-for="LeaveTypes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Başlangıç Tarihi</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Bitiş Tarihi</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceDuration" class="control-label">İzin Süresi</label>
                <input asp-for="AbsenceDuration" class="form-control" />
                <span asp-validation-for="AbsenceDuration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="p-4">
    <a asp-action="Index">Listeye Dön</a>
</div>

