@using HR_Project.Common.Extensions;
@using HR_Project.Domain.Enum;
@model HR_Project.Common.Models.DTOs.UpdateAbsenceDTO

@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h1>İzni Güncelle</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Update">
			<input asp-for="Id" type="hidden" />
			<input asp-for="Condition" type="hidden" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Reason" class="control-label"></label>
				<input asp-for="Reason" class="form-control" />
				<span asp-validation-for="Reason" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LeaveTypes" class="control-label">İzin Türü</label>
				<select class="form-control" asp-for="LeaveTypes" asp-items="EnumHelper.GetEnumSelectList<LeaveTypes>()">
					<option value="-1">İzin Türü</option>
				</select>
			<span asp-validation-for="LeaveTypes" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label">Başlangıç Tarihi</label>
				<input asp-for="StartDate" class="form-control" id="startDate" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EndDate" class="control-label">Bitiş Tarihi</label>
				<input asp-for="EndDate" class="form-control" id="endDate" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AbsenceDuration" class="control-label">İzin Süresi</label>
				<input class="form-control" id="absenceDurationText" readonly />
				<input asp-for="AbsenceDuration" type="hidden" id="absenceDuration" />
			</div>
			<div class="form-group">
				<input type="submit" value="Kaydet" class="btn btn-primary"  />
			</div>
		</form>
	</div>
</div>

<div>
	<a class="h5" asp-action="Index">Listeye Geri Dön</a>
</div>

<script>
	// Başlangıç ve bitiş tarihlerini al
	var startDateInput = document.getElementById("startDate");
	var endDateInput = document.getElementById("endDate");
	var durationInput = document.getElementById("absenceDurationText");

	startDateInput.addEventListener("change", updateDuration);
	endDateInput.addEventListener("change", updateDuration);


	function updateDuration() {


		//Tarih farkını al
		var startDate = new Date(startDateInput.value);
		var endDate = new Date(endDateInput.value);

		// Geçerli tarihler mi kontrol et
		if (isNaN(startDate.getTime()) || isNaN(endDate.getTime())) {
			durationInput.value = "Geçersiz tarih";
			return;
		} else {
			var howManyDaysWeekendsAndHolidays = countDaysWithoutWeekendsAndHolidays(startDate, endDate);
		}

		// Farkı gün ve saat olarak ayrıştır
		var duration = endDate - startDate; // in milliseconds

		var days = howManyDaysWeekendsAndHolidays;
		var hours = Math.floor((duration % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		// İzin Süresi alanını güncelle
		if (hours === 0) {
			durationInput.value = days + " gün";
		} else {
			durationInput.value = days + " gün " + hours + " saat";
		}
		// İznin süresini milisaniye cinsinden modele aktar
		document.getElementById("absenceDuration").value = Math.floor(days * (1000 * 60 * 60 * 24)) + (hours * (1000 * 60 * 60));
		console.log(duration);
		console.log(Math.floor(days * (1000 * 60 * 60 * 24)) + (hours * (1000 * 60 * 60)));

	}
	function isWeekend(date) {
		var day = date.getDay();
		return day === 0 || day === 6; // Pazar veya Cumartesi
	}

	function isHoliday(date) {
		// Tatil listesini kontrol et ve tatilse true döndür
		// Örnek:
		var holidayList = [/* ... */];
		var dateString = date.toISOString().split('T')[0]; // Tarihi stringe dönüştür

		return holidayList.includes(dateString);
	}

	function countDaysWithoutWeekendsAndHolidays(startDate, endDate) {
		var count = 0;
		var currentDate = new Date(startDate);

		while (currentDate <= endDate) {
			if (!isWeekend(currentDate) && !isHoliday(currentDate)) {
				count++;
			}
			currentDate.setDate(currentDate.getDate() + 1);
		}

		return count;
	}
</script>