@using HR_Project.Common.Extensions;
@using HR_Project.Domain.Enum;
@model HR_Project.Common.Models.DTOs.UpdateAbsenceDTO

@{
	ViewData["Title"] = "Update";
	Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<h1 class="p-4">İzni Güncelle</h1>

<hr />
<div class="row p-4">
	<div class="col-md-4">
		<form asp-action="Update">
			<input asp-for="Id" type="hidden" />
			<input asp-for="Condition" type="hidden" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="LeaveTypes" class="control-label">İzin Türü</label>
				<select class="form-control" asp-for="LeaveTypes" asp-items="EnumHelper.GetEnumSelectList<LeaveTypes>()">
					<option value="-1">İzin Türü</option>
				</select>
				<span asp-validation-for="LeaveTypes" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StartDate" class="control-label">Başlangıç Tarihi</label>
				<input asp-for="StartDate" class="form-control" id="startDate" type="date" />
				<span asp-validation-for="StartDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="EndDate" class="control-label">Bitiş Tarihi</label>
				<input asp-for="EndDate" class="form-control" type="date" />
				<span asp-validation-for="EndDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Reason" class="control-label">Açıklama</label>
				<input asp-for="Reason" class="form-control" />
				<span asp-validation-for="Reason" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AbsenceDuration" class="control-label">İzin Süresi</label>
				<input asp-for="AbsenceDuration" class="form-control" min="1" />
				<span asp-validation-for="AbsenceDuration" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Güncelle" class="btn btn-primary"  />
			</div>
		</form>
	</div>
</div>

<div>
	<a class="h5 p-4" asp-action="Index">Listeye Geri Dön</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
	$(document).ready(function () {
		console.log("ready!");
		// Input elemanının değeri değiştiğinde çalışacak
		$('#AbsenceDuration').on('input', function () {
			// Input değerini al
			var value = $(this).val();
			// Nokta varsa virgülle değiştir
			value = value.replace('.', ',');
			// Değiştirilmiş değeri input'a geri yaz
			$(this).val(value);
		});
	});
</script>